
/* right Arrow */

.arrow:hover .icon{
    display: block;

}

@media screen and (max-width:640px){

    .threeBar span{
        height: 3px;
        width: 20px;
        background-color: white;
        display: block;
        margin: 5px 0;
       transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menuItem{
        opacity: 0;
        transform: translateX(-20px);
        transition: transform 0.3s ease , opacity 0.3s ease;
        display: none;
        height: max-content;
        width: 100%;
        position: absolute;
        top: 190px;
        left: 0;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        gap: 20px;
        padding-left: 10px;
        display: flex;
        z-index: 1000;
    

    }

  #menubar:checked ~ .Items nav .menuItem {
   opacity: 1;
   transform: translateX(0px);
  }

    #menubar:checked ~ .Items nav .threeBar span:nth-child(1){
         transform: rotate(45deg) translate(7px, 7px);
    }
    #menubar:checked ~ .Items nav .threeBar span:nth-child(2){
        opacity: 0;
    }
    #menubar:checked ~ .Items nav .threeBar span:nth-child(3){
      transform: rotate(-45deg) translate(4px, -4px);
    }
}
@media screen and (max-width:540px){
    .benefits{
       margin-bottom: -100px;
    }
}