html {
  scroll-behavior: smooth;
}

/* right Arrow */

.arrow:hover .icon {
  display: block;
}
/* Category content */
.content {
  display: none;
  padding-left: 20px;
}

#vegetable:checked ~ .contents .vegetables,
#fruit:checked ~ .contents .fruits,
#meat:checked ~ .contents .meat {
  display: block;
}

#vegetable:checked ~ .filter-controller label[for='vegetable'],
#fruit:checked ~ .filter-controller label[for='fruit'],
#meat:checked ~ .filter-controller label[for='meat'] {
  color: #00b207;
  font-weight: bold;
}

/* statistics */

.stat-card {
  background: rgba(32, 61, 32, 0.301);
  border: 1px solid rgba(34, 139, 34, 0.075);
  border-radius: 15px;
  padding: 40px 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  backdrop-filter: blur(-5px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.stat-card:hover {
  transform: translateY(-10px);
  border-color: rgba(50, 205, 50, 0.6);
  box-shadow: 0 20px 40px rgba(50, 205, 50, 0.2);
}

@media screen and (max-width: 640px) {
  .threeBar span {
    height: 3px;
    width: 20px;
    background-color: white;
    display: block;
    margin: 5px 0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .menuItem {
    opacity: 0;
    transform: translateX(-20px);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    display: none;
    height: max-content;
    width: 100%;
    position: absolute;
    top: 190px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    display: flex;
    z-index: 1000;
  }

  #menubar:checked ~ .Items nav .menuItem {
    opacity: 1;
    transform: translateX(0px);
  }

  #menubar:checked ~ .Items nav .threeBar span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }
  #menubar:checked ~ .Items nav .threeBar span:nth-child(2) {
    opacity: 0;
  }
  #menubar:checked ~ .Items nav .threeBar span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }
}

@media screen and (min-width: 768px) and (max-width: 790px) {
  .benefits {
    margin-bottom: -100px;
  }
}
